OneDrive_2026-01-23 (1).zip
OneDrive_2026-01-23.zip
analysis.py
participation.xlsx
Participation records.xlsx
__pycache__/
Power_participation_analysis.xlsx
Cloud_participation_analysis.xlsx
05-Aug-2024.csv
analyz/
Cloud Training
PowerBI Training